﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h2>Contact Me</h2>

<address>
    11 Ashby Rd<br />
    Bedford MA, 01730-2220<br />
    <abbr title="Phone">P:</abbr> 
      857.600.8470     
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daviddantas1982@gmail.com">daviddantas1982@gmail.com</a><br />
    
</address>