﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <img src="~/images/DSC_0367.JPG"  class="img-thumbnail"  alt="Image"  />
    <h1>David Dantas</h1>
    <p class="lead">I love developing and wants to be great developer .</p>
    
</div>


