﻿@model IEnumerable<NextApp.Models.Contact>

@{
    ViewBag.Title = "Portfolio";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="your_contacts">
    <tr>
        
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.PhonePrimary)</th>
        <th>@Html.DisplayNameFor(model => model.PhoneSecondary)</th>
        <th>@Html.DisplayNameFor(model => model.Birthday)</th>
        <th>@Html.DisplayNameFor(model => model.StreetAddress1)</th>
        <th>@Html.DisplayNameFor(model => model.StreetAddress2)</th>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayNameFor(model => model.Zip)</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
           
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.PhonePrimary)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneSecondary)</td>
            <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
            <td>@Html.DisplayFor(modelItem => item.StreetAddress1)</td>
            <td>@Html.DisplayFor(modelItem => item.StreetAddress2)</td>
            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td>@Html.DisplayFor(modelItem => item.Zip)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>@Html.HiddenFor(modelItem => item.UserId)</td>
        </tr>
    }

</table>
@section Scripts{
    <script type="text/javascript">
        $(function() {
            $("#your_contacts").dataTable({
                    "pagingType": "full_numbers",
                    "scrolly": "600px",
                    "columnDefs": [
                        { "width": "45px", "tagets": 0 },
                        { "width": "45px", "tagets": 1 },
                        { "width": "45px", "tagets": 2 },
                        { "width": "45px", "tagets": 3 },
                        { "width": "45px", "tagets": 4 },
                        { "width": "45px", "tagets": 5 },
                        { "width": "45px", "tagets": 6 },
                        { "width": "45px", "tagets": 7 },
                        { "width": "45px", "tagets": 8 },
                        { "width": "45px", "tagets": 9 },
                        { "width": "45px", "tagets": 10 },
                        { "width": "45px", "tagets": 11 },
                        { "width": "45px", "tagets": 12 }
                    ]
                    , "order": [[1, "desc"]]
                    , "dom": 'Rlfrtip'
                    , "stateSave": "true"
                    ,"lenthMenu":[[-1,10,20,50,100],["All",10,20,50,100]]
                });
        });
    </script>

}



@*<h3>Welcome</h3>
@ViewBag.UserName - @ViewBag.UserId

<h3>Welcome</h3>
@ViewData["UserName"] - @ViewData["UserId"]*@
