﻿body {

    padding-top:50px;
}

.defaultText{
    font-family:Verdana ,Verdana, Geneva, Tahoma, sans-serif;
    font-size:12pt;
}

.padRight8px {
    padding-right: 8px;
}

.mainImage {
    height: 200px;
    width: 200px;
}